# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 The Foundation for Public Code <info@publiccode.net>

badges/
blog.publiccode.net/
standard-for-public-code/
test-obj.json
test-data/
*-results.json
*-fails.json
*-look.json
*-checks.json
.coverage
*.svg
*.swp

__pycache__/

package.json
package-lock.json
node_modules/
