# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 The Foundation for Public Code <info@publiccode.net>

badges/
blog.publiccode.net/
standard-for-public-code/
test-obj.json
test-data/
url-check-results.json
url-check-fails.json
url-check-test-repos-checks.json
url-check-url-check-fails.json
url-check-url-check-results.json
url-check-url-check-look.json

__pycache__/
.coverage
*.swp

# for gh-pages branch
Gemfile.lock
_site/
vendor/
