# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 The Foundation for Public Code <info@publiccode.net>

blog.publiccode.net/
standard-for-public-code/
bogus-checks.json

__pycache__/
.coverage
*.swp

# for gh-pages branch
Gemfile.lock
_site/
vendor/
